body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.display {
    flex: 1;
    display: flex;
    justify-content: end;
    border: 5px solid black;
    align-items: flex-end;
    font-size: 40px;
    overflow: hidden;
    min-height: 60px;
    padding-right: 5px;
}

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 1;
    font-size: 25px;
    min-width: 100px;
}
